.btn-primary{
  color: $light;
}

.font-pacifico{
  font-family: 'Pacifico', cursive;
}

.font-didact{
  font-family: 'Didact Gothic', sans-serif;
}

.font-baloo{
  font-family: 'Baloo Tamma 2', cursive;
}

.font-quicksand{
  font-family: 'Quicksand', sans-serif;
}
