$body-bg: #f3f3f0;
$primary: #6a9a9e;
$secondary: #325c6c;
$danger: #DC3545;
$success:#9bc6bf;
$warning: #FFC107;
$info: #17A2B8;
$light: #c7dcdd;
$dark: rgba(18, 20, 22, 0.493);
$white:#f2f2f2;
$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;
$colors: ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray, "gray-dark": $gray-dark) !default;
// .btn-primary {
//   color: $light;
//   background-color: $primary;
//   border-color: darken($color: $primary, $amount: 10);
//   border-width: medium;
// }